<mat-toolbar>
  <mat-toolbar-row>
    <span>Marvel</span>
    <span class="spacer"></span>
    <!-- <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >Spider-Man</button>
    <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >X-Men</button>
    <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >Captain America</button>
    <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >Iron Man</button>
    <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >Fantastic Four</button>
    <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >Black Widow</button>
    <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >Incredible Hulk</button>
    <button 
      mat-raised-button 
      color="warn"
      (click)=""
    >Black Panther</button> -->

    <button 
      *ngFor="let super of supers"
      (click)="pickSuper($event.target.innerText)"
      mat-raised-button 
    >{{ super }}</button>
  </mat-toolbar-row>
</mat-toolbar>