<mat-toolbar>
  <mat-toolbar-row>
    <span>Marvel</span>
    <span class="spacer"></span>
    <button 
      mat-raised-button 
      color="warn"
    >Spider-Man</button>
    <button 
      mat-raised-button 
      color="warn"
    >X-Men</button>
    <button 
      mat-raised-button 
      color="warn"
    >Captain America</button>
    <button 
      mat-raised-button 
      color="warn"
    >Iron Man</button>
    <button 
      mat-raised-button 
      color="warn"
    >Fantastic Four</button>
    <button 
      mat-raised-button 
      color="warn"
    >Black Widow</button>
    <button 
      mat-raised-button 
      color="warn"
    >Incredible Hulk</button>
  </mat-toolbar-row>
</mat-toolbar>