<h1 style="text-align: center">{{ title }}</h1>

<div style="text-align: center">
  <mat-table 
    style="margin: auto" 
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
  >
    <ng-container 
      *ngFor="let column of displayedColumns"
      matColumnDef="{{ column }}">
      <mat-header-cell 
        *matHeaderCellDef
        mat-sort-header
      >{{ column }}</mat-header-cell>
      <mat-cell 
        *matCellDef="let element"
      >{{ element[column] }}</mat-cell>
    </ng-container>

    <mat-header-row 
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row 
      *matRowDef="let row, columns: displayedColumns"
    ></mat-row>
  </mat-table>
</div>  