mat-table {
  font-family: var(--comicFont);
  font-weight: bold;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

mat-header-cell {
  font-size: 22pt;
  color: red;
  font-family: var(--spideyFont);
}

mat-cell {
  font-size: 14pt;
  color: blue;
}

h1 {
  font-family: var(--spideyFont);
  color: yellow;
  /* text-shadow: 2px 2px 2px yellow; */
  font-weight: bold;
  font-size: 30pt;
}

button, mat-paginator {
  font-family: var(--comicFont);
}

button {
  font-size: 14pt;
}

mat-paginator {
  background: rgba(0, 0, 255, 0.5);
  color: yellow;
  font-size: 12pt;
}

#spideyTable {
  width: 40vw;
  margin: auto;
}