h1 {
  font-family: var(--spideyFont);
  font-weight: bold;
  color: blue;
  text-align: center;
}

h4 {
  font-family: var(--spideyFont);
  font-weight: bold;
  font-size: 16pt;
  color: red;
}

p {
  font-family: var(--comicFont);
  font-weight: bold;
}

#modContent {
  background-size: cover;
}

.info {
  border: 2px solid #fff;
  border-radius: 0.4em;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.6px;
  text-align: center;
  margin: 0.5em auto;
  padding: 0.5em;
}