h1 {
  font-weight: bold;
  text-align: center;
}

h1.S {
  font-family: var(--spideyFont);
  color: var(--spideyBlue);
}

h1.X {
  font-family: var(--xFont);
  color: var(--xBlue);
  text-shadow: var(--xShadow);
}

h1.C {
  font-family: var(--captainFont);
  color: var(--captainBlue);
}

h1.I {
  font-family: var(--ironFont);
  color: var(--ironRed);
  text-shadow: var(--ironOutline);
}

h1.F {
  font-family: var(--fantasticFont);
  color: var(--fantasticBlue);
}

h1.H {
  font-family: var(--hulkFont);
  color: var(--hulkGreen);
}

h1.B {
  font-family: var(--pantherFont);
  color: var(--pantherPurple);
  text-shadow: var(--pantherShadow);
}

h4 {
  font-weight: bold;
  font-size: 16pt;
}

h4.S {
  font-family: var(--spideyFont);
  color: var(--spideyRed);
}

h4.X {
  font-family: var(--xFont);
  color: var(--xRed);
}

h4.C {
  font-family: var(--captainFont);
  color: var(--captainRed);
}

h4.I {
  font-family: var(--ironFont);
  color: var(--ironBlue);
}

h4.F {
  font-family: var(--fantasticFont);
  color: var(--fantasticRed);
}

h4.H {
  font-family: var(--hulkFont);
  color: var(--hulkPurple);
}

h4.B {
  font-family: var(--pantherFont);
  color: var(--pantherRed);
}

p {
  font-family: var(--comicFont);
  font-weight: bold;
}

#modContent {
  background-size: cover;
}

.info {
  border: 2px solid #fff;
  border-radius: 0.4em;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.6px;
  text-align: center;
  margin: 0.5em auto;
  padding: 0.5em;
}